<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated assessment -->
      <package
            uri="http://io/opensemantics/semiotics/model/assessment"
            class="io.opensemantics.semiotics.model.assessment.AssessmentPackage"
            genModel="model/assessment.genmodel"/>
   </extension>

</plugin>
