<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="io.opensemantics.semiotics.target" sequenceNumber="14">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
<unit id="org.eclipse.emf.ecore.xcore.feature.group" version="1.3.1.v20150806-0546"/>
<unit id="org.eclipse.platform.feature.group" version="4.5.1.v20150904-0015"/>
<unit id="org.eclipse.emf.ecore.feature.group" version="2.11.1.v20150805-0538"/>
<unit id="org.eclipse.emf.ecore.xcore.lib.feature.group" version="1.2.100.v20150806-0546"/>
<repository location="http://download.eclipse.org/releases/mars"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
<unit id="org.eclipse.emf.ecp.feature.feature.group" version="1.7.2.20151117-1207"/>
<unit id="org.eclipse.emf.ecp.emfstore.feature.feature.group" version="1.7.2.20151117-1207"/>
<unit id="org.eclipse.emf.ecp.workspace.feature.feature.group" version="1.7.2.20151117-1207"/>
<unit id="org.eclipse.emf.ecp.e3.feature.feature.group" version="1.7.2.20151117-1207"/>
<unit id="org.eclipse.emf.ecp.emfforms.runtime.feature.feature.group" version="1.7.2.20151117-1207"/>
<repository location="http://download.eclipse.org/ecp/releases/releases_17/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
<unit id="org.junit" version="4.12.0.v201504281640"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20150821153341/repository/"/>
</location>
</locations>
</target>
